// /* ******* PATH ******* */

@cm-image-path: '../libs/common/img';
@tmp-image-path: '../img';

// /* ******* STYLES ******* */

@tmp-font-family: arial, helvetica, sans-serif;
@tmp-font-family-alternative: Tahoma ,Geneva, Kalimati, sans-serif;
@tmp-font-size: 14px;

@tmp-color: #323232;
@tmp-color-light: #787878;
@tmp-color-prelight: #a0a0a0;
@tmp-color-lightness: #d2d2d2;
@tmp-color-link: #5d89ba;
@tmp-border-color: #dbdbdb;

@tmp-column-right-style1: 33%;
@tmp-counter-height: 16px;
@tmp-border-radius: 3px;